@charset 'utf-8';
*{
	margin:0px;
	padding:0px;
}
/*头部右部分*/
.head .right{
	float: right;
	color: #ffffff;
}
.head .right span{
	color:#ffffff;
	font-size: 12px;
}
.right img{
	display: block;
	float:left;
	padding-top: 14px;
    padding-right: 5px;
 }
 .right a{
 	padding: 0 4px;
 }
 .head .clear{
 	clear: both;
 }
/* 中间内容部分*/
.main .wp1{
	width: 1175px;
	margin: 0 auto;
}
/*内容头部*/
.main .main-top{
	text-align: center;
}
.main .top-left{
	width: 426px;
	height: 57px;
	float: left;
	border-bottom: 1px solid #9e9a9a;
}
.main .top-center{
	width: 320px;
	height: 114px;
	float: left;
}
.top-center strong{
	display: block;
	padding-top:35px;
	font-size: 36px;
	font-family:幼圆;

}
.top-center p{
	font-size: 14px;
	font-family: Arial;

}
.main .top-right{
	width: 426px;
	height: 57px;
	float: right;
	border-bottom: 1px solid #9e9a9a;
}
.main .main-top .clear{
	clear: both;
}
/*内容中间部分*/
.main-center-left{
	float: left;
	background: url(../images/beijing.png) no-repeat;
	width: 650px;
	height: 506px;
}
.main-center-right{
	float:right;
	width: 340px;
	height: 506px;
}
.main-center-right p{
	font-family: 宋体;
	font-size: 12px;
	color: red;
	padding-bottom: 5px;
}
.main-center-right input{
	height: 40px;
	font-size: 14px;
	padding-left: 15px;
	margin-bottom: 28px;
}
.main-center-right .r1,.main-center-right .r4{
	width: 270px;
}
.main-center-right .r2{
	width: 180px;
}
.main-center-right .r2-1{
	background: #cccccc;
	width: 90px;
	border: none;
	padding-left: 0px;
	cursor: pointer;
}
.main-center-right .r3{
	width: 153px;
}
.main-center-right .r3-1{
	display: block;
	float: right;
	width: 103px;
	background: url(../images/yanzhenma.png)no-repeat;
	background-size:100%;
	margin-right: 45px;
}
.main-center-right .r5{
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	width:18px;
	top:-9px;
}
.main-center-right .r6{
	display: block;
	width: 200px;
	border: none;
	background: #2ea6df;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
}
.main-center-right .r7{
	float: right;
	margin-top: 30px;
}
.main-center-right .r7 img{
	display: block;
    float: left;
    margin-right: 5px;
}
.main-center .clear{
	clear: both;
}



