<% include ../head %>
<script>
	function renzheng(){
		$('#main').load('/home/renzheng.html');
	}
</script>
<div class="row">
	      <div class="col-sm-1"></div>
	      <div class="col-sm-2"  style='background-color: #aaa'>
	      	<% include ./left %>
	      </div>
	      <div class="col-sm-7" id='main'></div>
	      <div class="col-sm-1"></div>
  </body>
</html>